* {
  box-sizing:border-box;
}

.left {
  background-color: #2196F3;
  padding: 20px;
  float: left;
  width: 20%;

}

.main {
  background-color: #f1f1f1;
  padding: 20px;
  float: left;
  width: 60%

}

.right {
  background-color: #4CAF50;
  padding: 20px;
  float: left;
  width: 20%

}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
    /*
    set width of .left, .main, .right class to 100%;
    */


    /* The width is 100%, when the viewport is 800px or smaller */

}
